.title-equipe {
	font-size: 22px;
	font-weight: bold;
}
.card-equipe {
	width: 180px;
	display: inline-block;
	margin: 5px;
}
.card-equipe img {
	border-radius: 100%;
	border: 2px solid #3CB371;
}
.card-equipe p {
	text-align: center;
}

@media screen and (max-device-width:  979px), screen and (max-width:  979px) {
	#header .top-message {
		display: block;
		margin-top: 8px;
	}
}