@media screen and (max-device-width:  979px), screen and (max-width:  979px) {
	#header .top-message {
		display: block!important;
		margin-top: 8px;
	}
	.grid_6_mobile, .grid_4_mobile {
		width: 100%;
	}
}