#header span.txt-message.btn-perfil {
  display: none;
  color: #fff;
  border: 2px solid #92999d;
  padding: 5px;
  border-radius: 5px;
  background-color: #3CB371;
}
#header span.txt-message.btn-perfil:hover {
  background-color:#4ba220;
}